.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.h-full {
    height: 100%;
}

.h-screen {
    height: 100vh;
}

.avatar {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    overflow: hidden;
}

.p-6 {
    padding: 6px;
}