.body{
    background-color: lightgray;
    padding: 0%;
    margin: 0%;
}
.wraper{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    margin: 0% auto;
    background-color: white;
    border: 1px solid black;
    width: 95%;
}
.header{
    grid-column: 1 /span 7;
    background-color: green;
    text-align: left;
    color: white;
    margin: 0%;
    padding: 1%;
}
.footer{
    grid-column: 1 /span 7;
    background-color: green;
    text-align: center;
    color: white;
    margin: 0%;
    padding: 0%;
}
.navbar{
    grid-column: 1/span 7;
    background-color: skyblue;
    
}
.navbar li{
    display: inline-block;
}
.navbar li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 20px;
}
.navbar li a:hover{
    color: brown;
}
.navbar ul{
    margin: 0;
    padding: 0;
}
.menu{
    grid-column: 1/span 2;
    float: left;
    background-color: beige;
    min-height: 400px;
}
.menu li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: medium;
}
.menu li a:hover{
    background-color: green;
}
.menu ul{
    list-style-type: none;
    padding: 10px;
    margin: 0;
}
.container{
    grid-column: 3/span 3;
    float: center;
    min-height: 415px;
    text-align: center;
}
.container p{
    text-align: justify;
    margin: 1%;
}
.sidebar{
    grid-column: 6/span 2;
    float: right;
    background-color: beige;
    min-height: 400px;
}
.sidebar li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: medium;
}
.sidebar li a:hover{
    background-color: green;
}
.sidebar ul{
    list-style-type: none;
    padding: 10px;
    margin: 0;
}